<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Unes - Home</title>
</head>

<body background="../static/imgs/fundo.png">

    <div class="header">
        <img src="../static/imgs/logo.png" alt="logo" id="logo">
        <a href="./" class="links">Home</a>
        <a href="quemsomos" class="links">Quem somos</a>
        <a href="contato" class="links">Contato</a>
    </div>
    
    <div class="conteudo">
        
        <img src="../static/imgs/capa.png" alt="capa" id="img-capa">
        
        <h1>Sobre a Universidade</h1>

            <p class="place-holder-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?</p>

            <p class="direitos">Todos os direitos reservados</p>
    </div>

</body>
</html>