<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Unes - Quem Somos</title>
</head>

<body background="../static/imgs/fundo2.png">
        
    <div class="conteudo">
    
        <div class="header">
            <img src="../static/imgs/logo.png" alt="logo" id="logo">
            <a href="./" class="links">Home</a>
            <a href="./quemsomos" class="links">Quem somos</a>
            <a href="./contato" class="links">Contato</a>
        </div>

        <div class="main">
            
            <h1>Quem Somos</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus reprehenderit placeat deserunt animi voluptatum suscipit officia natus dolorum mollitia quaerat, eveniet porro nam sequi. Tenetur, non. Unde reiciendis nihil quia?</p>

            <h2>5 Motivos para estudar</h2>

            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>

            <hr/>

            <h2>Objetivos</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates iste nobis quaerat tenetur assumenda, est ipsa. Beatae rerum laborum aliquid provident ea, iure quasi eaque eum fugiat excepturi explicabo debitis?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates iste nobis quaerat tenetur assumenda, est ipsa. Beatae rerum laborum aliquid provident ea, iure quasi eaque eum fugiat excepturi explicabo debitis?</p>

            <p class="direitos">Todos os direitos revervados</p>
            <br>
        </div>

    </div>

</body>
</html>