body {
    margin: auto;
    text-align: center;
    background-color: #e6e6e6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #ffbc08;
    color: white;
}

.header h1 {
    display: inline-block;
    margin: 10px 0px 10px 0px;
}

.header li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 5px 15px 5px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: white;
}

.container {
    margin: auto;
    width: 920px;
    display: flex;
    flex: 2;

}

.conteudo {
    text-align: start;
    width: 680px;
    display: inline-block;
}

.conteudo * {
    margin: 10px
}

.post {
    background-color: white;
}

.post h2 {
    color: #ffbc08;
}

.canto {
    text-align: start;
    padding: 8px;
    float: right;
    margin-top: 10px;
    width: 200px;
    background-color: white;
}
